@model List<MVC.Models.Course>
@{
    ViewBag.Title = "RemoveCourse";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Remove Course From @ViewBag.dept.DeptName</h2>

<div class="container text-center">
    <form method="post">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>New Course</th>
                    <th>Opertion Course</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CrsName</td>
                        <td>@Html.CheckBox("crs." + item.CrsId.ToString())</td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" value="delete" class="btn btn-danger" />
    </form>

</div>